# IMPLEMENTASI ENCODING DAN DECODING DENGAN PYTHON

* Install Cryptografi dalam Python

In [3]:
%pip install cryptography

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cryptography
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 7.9 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-38.0.4

In [4]:
import pandas as pd
from cryptography.fernet import Fernet

In [6]:
! wget https://raw.githubusercontent.com/DodikSukma/Data-Science-Klasifikasi-01/main/Status%20Nutrition%20Dataset.csv

--2022-12-04 13:36:37--  https://raw.githubusercontent.com/DodikSukma/Data-Science-Klasifikasi-01/main/Status%20Nutrition%20Dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6416 (6.3K) [text/plain]
Saving to: ‘Status Nutrition Dataset.csv’

Status Nutrition Da 100%[===================>]   6.27K  --.-KB/s    in 0s

2022-12-04 13:36:37 (66.6 MB/s) - ‘Status Nutrition Dataset.csv’ saved [6416/6416]

# SEBELUM ENCODING

In [14]:
se = pd.read_csv('Status Nutrition Dataset.csv')
se.head(15)

,Name,Gender,age(mounth),TB(cm),WB(cm),CongenitalDisease,allergy,Status
0,Maria Anders,1,27,40,8,0,0,good
1,Ana Trujillo,0,20,40,7,0,0,good
2,Antonio Moreno,1,20,37,9,0,0,good
3,Thomas Hardy,0,23,32,7,0,0,good
4,Christina Berglund,1,20,41,9,0,0,good
5,Hanna Moos,0,27,35,8,0,0,good
6,Frédérique Citeaux,1,20,42,8,0,0,good
7,Martín Sommer,0,26,45,7,0,0,good
8,Laurence Lebihans,1,25,39,9,0,0,good
9,Elizabeth Lincoln,0,23,39,9,0,0,good
10,Victoria Ashworth,1,21,40,9,0,0,good
11,Patricio Simpson,0,25,45,8,0,0,good
12,Francisco Chang,1,25,36,8,0,0,good
13,Yang Wang,0,20,40,8,0,0,good
14,Pedro Afonso,1,27,37,7,0,0,good

# PROSES ENCODING MENGGUNAKAN METODE FERNET

In [9]:
# mendelkarasikan kunci fernet
key = Fernet.generate_key()
 
# Mendeklarasikan Huruf Acak sebagai bahan encoding
with open('filekey.key', 'wb') as filekey:
   filekey.write(key)

In [11]:
# Melihat Deklarasikan Huruf Acuan 
key

b'zFE3F9a_gTk6hiXWWG95VUYIOqTMwPtQ03JfPgo1xs0='

In [12]:
with open('filekey.key', 'rb') as filekey:
    key = filekey.read()
fernet = Fernet(key)
 
# Membuka File yang akan di enkripsi
with open('Status Nutrition Dataset.csv', 'rb') as file:
    original = file.read()
     
# Melakukan Enkripsi
encrypted = fernet.encrypt(original)
 
# Memulai proses enkripsi
with open('Status Nutrition Dataset Encripsi.csv', 'wb') as encrypted_file:
    encrypted_file.write(encrypted)

In [13]:
enkripsi_dataset = pd.read_csv('Status Nutrition Dataset Encripsi.csv')
enkripsi_dataset

Empty DataFrame
Columns: [gAAAAABjjKOI4xmkdIyRklxpyoPj-1g-QTpwP1xZbRPnk-v_I1TcW3Q6--yqfFIN0BHeJ1BWiXTkugZ32WR8ZUg_Kh2tYuipotK5Xxhe2aJtSt6m_X2ZLov_haNoeAiilONcJJp3SHyH53dEvNlPQ-gEiS2747IafTeqDJgNFB8g-oopedQYcVl9qXrRGZA6MRpXzJmL8pbSwGf70ZGRfelzNvFxh7gcjjul3hQt67vjpZIIf44FdtxN1PrbxVfcWhw5n_9ziGx2tmWaBwbBvvxBQT9ArueBCSNx3snibWs7adjWTNJRpfYn8kTS86JG-xWiB0rltKa9zEvXZROX1v_VLOo20Cd04DEshoKYiXpzmvVzf7MW0kIkHmB4NejFl5xgwlY7Rb8Ox5m_YXNnTjcm3Y2UZgV9t9klhAAAElNBiSG_31q8veV2CW3BH-CQedsguenW_IfV5QKg4TM6ObpYezkJD3T2WL1qxl4hmkK0hmEnLKfoBf_c8anpH1F1k6ZngYq56q9yZkR-zUMa1wSstKxoWeR7v34w6-EzRqELhdMYXI8_987Ll4_dFWeElkEACGO2iEo3y_7djBCtBDLIrmoyhaxOxBrC0Gtjln16p9kUpt650OjEx-yeNwAUOOm2sI1CfGIUborUm_pGJC3zbUB9OvAzNPYnf3ANsLDCvz_NalSVv3oz6vIzSP1iRNslZvO2C8AiqKCvgOOtmgrXsi-ExX4ZNNA7yOwP_KS5W56wcaK7wsv0sxZpUXf2ds8t8bEotCTDHryfPp9a2qXh8BHK-2S-aPuxCNN4XaqIkozKGy2Yj-Y-6eS89Xa3p5No_eYhZ-M43Bd-eSM5zn-bKdauyNJZOu3EDaD0MCZmpbA6vjwGq0slF55hiqMxDIPPZCUQ5gCZhVtVzg4KKYtymX2ECnCpsMvq0Pob9BJ-leroHfeKXJqov4rQncFtfdFiWx_6ZZh85s-AACn6yb2aPt8jf5HhsfBnbJeSMRhscsnWO0KxSoatXIZtOTPE7qOBl4pymLJdZ31OWLWltaV7X8IQM8m5qhumlfMnfa6jDSOeXPvxXiyyeaPkPLDI82TBQlVF4hsP-Wh7Ot4yNr3TcHl-LwpaUxaegVcw7zbKYM5BLO6cIA-oXP1IHw2_cv1tyZenLdjxUiNCDQS66qVS3I4thiCQiq9lmuQtEN0OHRUcSwwoxHTkMs1llbU8hqkiNGeIQAFfKCqXKyxFuD_ZQI_yt49jpNOvOAvZWT5HZ3AtAixZvxCFM3XBJu_02ah2lavzIoEXUviMG1YLKbafcIsmtYF50XpgQiepT1qV5_EqKXwBF0X0sITf_FOjBvInnma2sPOYlpF6iMYO2FOfYAZEq__yQWpGnOiP8vCFAgw3Vlx_PQuXi6rRzWbdh9_VirlEmcZfZC5eNeo5VF3_Kkc4d0X23mBzb8rVHscoOdOeG9EEBbJO-93NU_Nx84Q4bqzLePhjK9VoBTLgTuIf31QCzmqoTe-rA2-uvJWEvj_GD1s2JeVfmpmhUKkrD0UX4VE5kJqfRX1uGMuN4qobBwaew4P7W2UfHFTWO54oN2gpaqMDHQ3I0hd2y7OCGi2GBNQPtKsRRn63dy_9_tnq7uba0lxMI40w5joq6qV4NXwSymhmplwScFrXSa2Xp-rBaPPhNSNM2UX6yxSI0eJA8lZMNw-JE8aLtqItLo25oGTELuemaI-M4zMzRuPWcWhOdi1HMwx7PDaZY5hxBJX1jv3g3rpGvTi64qRdef4ILq2MCJgxdqMRY4DcwQSAsAVPDmXi3F4r_B2Iy71WxhBS5S85MbKAfYS86_rE08ATfHRCidMXlixrQVoJVPbewF_6qweCHBNQgDsHvwuplvUqZPBCd6hjiqdkIwTp-vq0cmdjj4ifNdquy5GsqxhymUoKS8UbWbHhyOElO3YF9Fofn3CqTkkIKl3OCKqa5iuSf-3RouZoQsjw5KVL5TvruMh1Bt8eYMpqDYL8CLe_gfadj5gYEcDT_Y20sv56O52rNbfHnQ5-cdSR6dglhPuXNVCWzW6XFvQMeef3eD7uA7dsJ-hCTI3HX78ue5c1DJ3-b96fdLtlgWlrH5kzY5ozU7BbrIBJMd1e3ClheIonqFvoYMhMIljEWgf_hxQsyT1n-wFYZdIsGWTLZXYjjMRw8yeN7nOpyn4Cgziash7FQ62TcewPs3J7r5jSTNWT3dQEDcmw3AaEM08Wwzl1tCDINsZcHkSNJNGercASYulB_9XvEukJeqoKAel6aZc34u0rkwFcjhhgv0mJ60tSP1Wt8RkcpmSWEvKou7Xl882JNeYf5CZT0oRKvcURLLv4i97yt2ItgMChtYO9mGGBJf3r77S77YYcZJwYGsTjJH81mEOPG8ddg4MrITuV8hOxmG6SdjlZ8asiU_3QpV0Boc50bbMqLHYSZ0jFWRLShThO_Pxh5mFPZ7PUlu4Ib62nEtQ135vLB8tPLWvCZ8JqRAWdDETZURDanmwYMgknDTvaBlf6o3EwmKcAay1u91oJjUm7TlkhJrGRLA0Mc18de6Gg-7Dl7nGAqoHSDVzSi-h6fe11hlQ2tjBJpEzNq0Ky1ps43hC_3IPj34rvBhOG5_OYdA8jmBsi26HbODq61iOglKzocX8KBRteaLFuKjKN3XGp89FqQ3ZRqhnmxuXM1lE1lx1JRlnJsKzLY2ZnXPZyGCptrJsDVPNJWGCyA8Wnf_jgUUhdVBxA28DQYecYO9vFRxtpaI-0J2bIKKG_8CiTzvudaSC4P0iarztizMBtOU4m7SQIeoWOEGPXOkBrfg5joO9jmjWpSAnXGPpKeeGCynriQhqlOW7SI8vwPb4i3rKHgA_0hkEZ8yBSiGVmmXbKYQ0DJAIR1hKpK57f6r5MCvtG_zTQiO68R-y90myBdNg3zsra5iQ9zfjiw5oj1vJDCQwuAytw_bGUZFMsm2YFKGnNese-6VLfaYumwk7L4HBBgnQkgutpN8sEO47Lus6ovlCPbAMp9fzqmk4u598ipAiEMtItn-55NGO-rn6Qf3GqBjn0QGh7Kbwjmi6IfqGNgvNd-s4qLnFb6yevVgit299OvcTAEx_gsdnmdzhJdxkmUGd1y_dOgcDBYQ_LQ-lUKvruEeaJX-cFEOBr2Np_5Y0eyBuB4gQHKgL4nOhmc_5NGyEk4lbSHNEOhqVKMBYbmEkkrmMIM7h52dGgDn759Kek51gR1EAGE1X08mZbxOVEuNaY8CtZAjK34563dvpl3NxSuG4L4HYipJZjk5loUdTX9BrcK2BE6m9L_o6GgesDyMYO9HaMe3L4KFU8-RKCNewdlBNqhDWY2RJlP3baSqnOO2mrNiNPlWDrcakEyT2by4oX6gepPVr5G2MqpYpBRXIXzO9Bii2UIw1scAy4WwqnuNe1i6-Ge1eIsx5-SC7GgYCjRU73p-ihPmb1Jw0DH-bU1nrcpd9Qf-L7KnnpYHrpzeM2-_ZMRdhBYD4PQMMGlTe_o6LbWo7-Dbzgvk2T3Hj_b0XIKzJGyESoPl33sR53oDfWt53-Ppz4vvF9TZEp1gE40Q-yA-RNLF6z8GouYKuw-VPpqFRjtMqLR5FJWtrM-Hmh2EpYXlcPA9dK2uhJ0i5Jrs1G9h4gSYs1hHX3nT6pQfBhxxAdo5YSiqq7u_Q8_Fgaaa5jTmsQ6z8RxBfKIW9i_rBGkYn2N55vKERNbyTfXta4Nv_UR1xdbyfCybdvd9IsonnEp1aj1D1JlOOr5nHq9q8VomDmYv1Gjgfz8z5BfSZP5aLxSrbcyjSRxDJp9fu-ypr0EgQmGpG25Y0wpG7phbcAHOnuoOOW6oLhCcamKDOlQG94APvbJSr9sgmPpzZSyAL9cDJVTYPhDXMjLGtLMoVYi1AR5GXCR9OTE_9tbVas6iw2tvBCwGsceCoephNen8Ma9aGVXZft_At7jVzlASBg-VfLzB3nxFn5xm_tE5bH7CsK4Mi1bXh8OTtc1r6f_o1kFKLqAAwpudUebwk8y0AqPn4a1deRyhUVkR1FkjZu9E7Xu04Jj3KcCfuSp0DQoQYIlHq4Axoxg0n3ou4GafNgcd8os4iQw5C-bZ7xxQSVTfVXjcxM6oER1dtPpAIE6FN5KjtQxgx8cL1ctK1QKrszf7KsK_UaQHhuG1hT-fmfjy0IJ0p3LPUTAKT4TvwS1qFLTK2Paqi-U7AyeBidz8JzJF1bwi-6FAgjzcbTrzDLT4etK4NQ7rhAbzOYjzOllhLFLkBm8xY9L5c7Rxhnw8wfWp-1zkqKefuEIfodRMiDJtPB_qbGhVJVZWBWBBnA6y2tDo76eqBnUhaHnzlEshgN1Mw_xvaYD1REzOeQMOjyTPQHqFy4TPtXgYtab8O915erk8MOxcMPwMGxRQMUUSVhO-stS9X6iW9jx7GHct10cdf4buGqAWiZ0FnqGEMcUUO4-i0wMlzdQX-nRoddxeMxWmx24BJ-eLzRqa66nOFrJGYI-qBzu1t00iRR8HVZ5GuTW2rWbswxK43AoFDZVl9yrHXdXAwc3HHhtxe3PJ2KPUsutuNepfYEaXdM19ejqWdYX9dleK1wvrB-_U4LK5nzSbyKPggz1EOMSuLwpwM738zFKJp_uQus-DhO3WK-PKYKBeEo1E3EBOWG_Ob941lAJzjfT9EGlViq0PBdLfWGJCgxCH5hTsZWKftKqcC8CVmpLtFE9J5LVvPI5e6sTOLyaZqn31XGGEZJVZrFajCYTrvi0e0NXLgV3IIRh8eW0_u3hM6q6sIIXps5Y-8QPfkU0xe8UYOxlkbNiLZiXe23GiS1oYslI5c_K2HXJfvvcJ772Q0oh_8pxuKhKHJzFjJrXj90-WnRgqhuy3GpTfVE9VxgPYvuM66wuqIqbxlMp72xbwpg2ZJ3-nztKAJk3ljxGDLZfdZUoHYdDr67_bzpBt6lI7DGIxvulMwrFTSq9gWPNXOluJx9Fgdg1ZwkU7Aq6ni1fJHstEyZQJB0etcYEkeComlZZ6ZOzS8e56IDwF5InDAopA4PQaP2op646Y682r_goEtcmlEyZCZQkIwLqQ72ziOZxRFbqrfji3rgSSiJbKwaAXCoWuJ2BLmt7W-02U1L6l4sFNEJcdXz2k0FsaDTtrAZ0pmViZhuLAFqIISx4CSQesn6Df9wBfKQM6Ss8t-dTgpYz0H9H0LL3oLRqZBMPGXTZAV9c0yoTOCgVLPupVXqL-ziUm6AwNakrK3aWzehGoq5nxnM3Ay_M3wC1_reCQp26GDt5X-iAfXDAhCljeAUV7oAAILvjikb4R1hOPYtZ48gvySjfOwrHzQqdJxppMLEhP9t5uGZnf7UH--xGEWtNHsKrAly66UqXOLd7bepwYA6s332bXwkWo5euge1gDwx8IsH_LVEMUEDgJKZVPc-mKjFuivXuWWFCyO3viILKFHI8jwBuT1plnAVLPEPOAJshfv7r0-VNMEWjHILbWJ6ZbBz828wIZ8QmrHtbiES989hHvj8x28NkcJj2VHk-5RfPnUUPYSH5DhrB0G-wZrbwEPoR5KA40bTaM-ahkBk2IuRet8iZDTN4KXk3Vht7ukgKaUlYf8PJT8I4eK-MRhfWodv4y4wd44Wmmxskv8SCe6efWCTTmtZyXrWa5yOYGfYiTSeeYa2mnE-ovgMhZe1ljBfUYqvMfiAMpAufa4t5WYjFiSrD6XkPi-bv7vIoNyT8djmIFRQ_KBQrAq5nk1Dt8BSclY9hgGkvEoa08jiEw1cPpf50vIBPxTnw8FUAGO7st09dMnG4t8VuVegH-F6TvU4xXUUbkV4OWrFDG9n3Ffifj6Phdub9zdNAWf-JwZgficEeHCJP2ov6qkHezHaDaOite4VCg111b03R9WtLpEOEvE7BoBm--GWV24ZbNS_ha0JwYte8OlKxSvJDJzLGS08muNPvfhRswpqRTyqJUFRgidNDpicruz_nxc0FxCLmCaSQPgyoNgIB1kngloX8QKofXR0PQejDxa06L2ip_WvXxw30jfjvY_r7hH1x4F9BmJUMdIN6ijPyjeX-O2Igj-V89s193q_H5qH3kt9KZUl6oNRh9bReOpYb5XJsufFMCw3CJMghErz7BHPKtgi5ypnLG1f9BnfJRSFrxzKZFKXdApuC2wdvBNbxJFbXybmJUo4ByUEj7yALQ6o_OpnQUpxsOr3xemmYnYjBvoY_bFe5fjXwH-4m1vSEiBg6_VFLSvnG_RSvkt0kWPFhD4wDXrcWC3YAGhel7SxfIqkconLyqt5Zq3_5c2EJPYNTUFRxOmgoB4yqsCl1udgtTGiI-MwzIU_aKy0KRodilpl_R_d6IknE5zTzA-Mlqpi5sAYSJYpq-YDSQnH9j6fJouVYkds5ZGAKKbcgpezWqqwdbOdFuQr39QWW6u2BTH3FUuOJNuU8gCrGbG0bM8ZjyE1ElrsowPdhZbstNF07UPvhPzImzgfsWtkIJJQQlFdBuXtMvEU8jm0gcy_nosO6GwNHSY-sq5qXDDaE0wXIKGL_RML3r0dlPXsW-bFE05VES47S5udQaAV4OENZz5fgzt4AI6IBH6YWYJcavMJXwBZLHqgcKlKS_Yo0Ov3ZJGaNzO6bNpRZ2wyGR9P8HnNjkubofPndt1sJiu3CJbcTh-aeK3FKEeolmxCJICoAgkFd0DLg5UGaOWgYOyFu_asCpePjTVYgpPZEyFjgTkSpJZgh--5RsncNVk0OAh5sZRfDmbexfo-rZwLzPc2n7isQMzujPkJkrkGJNZ_sQoi7-lDLNQk4NeK-bEul-saL1jfeM-fTOl8-Wny8p05Lt9plyX8wybd0HbiYLrHSeY-SMO_RvmhMIIddkQe7nuP5PFSGB0_9SkSO8FyFN52XAZYj6h07OBq2a7Pnn77nOT24KCA2_3yMzKKjJ6dQgrMrYo0h-Nd-NwCz4XF3f-OTWuG9p_g1kMQuS1aIu_mX6aolLQARCzhS5FbeORxPHCWBGuCletNAxee0hnSExVZgczrp3ahRE6vvyO7S3jlP06J629UyNPh8AMPQAbYZR4w9nTsQqFKz24zrmBB6k_okNLbvsZnFtO2haumeB-WyBVL51-xA29_gDHr7Ooum229oOEr4-RSkCXmEjlBkNU49uJ5Fe9hoywODstH-btVEZHbOmKQvH0yWMCBze9EcLdroMKgW0FgM886RpOWf5B40QCuoUEDqZJPfVxWIt_Iyi-IL64Ctfo_fjuMzRhv_pkLtE9BPj9_aWMDiIeuI3w6REuHQF5ZxKi3w25EgRBG3WScwxB__irkfnQb1hxeQxWb6A0u4WjveV8RKZ1PzdhnjHf3KVVuWJypO5DPmDl4tyVQ75TNPnjpii6IRxKieQqzNRfbcItBqztTFOS36tKbvNYHmaNfrvj_mWozSFn_dbaEkCLp5Kw57mmZaj-Z6beocvuSYOnryHlf0jSN8a_Q78s8_d-1JFn4VByBCgF0K7JFvwOMGIDGo5sMTR717OSFmJpEhzjWnSMAbF942Q8qlqCSIAZc-FuF9iF64jBQoLsd0nSLN10sMWue1yaGj_-JxQfstssfi83J7e7jWXg3AdWSdB_CwC4NEV8YN9ZcQ2bq-AbIyFaRp-ccUxC-0C848FAjybcDSLbjv5x6kAlNRXkql6S0HWOXMEjlKlpFeupKI0XdyxTMydsiDuDNEQL58ZDHm3AuNqkPQpdX8yJPKAHyIIL7xqZBkFtsKhtBNc-wWqN3ywyen_OB-DgvNtgq43xwKUfsQyZY2t-KeclRfKGs1ur7fB8cXH1I5Kyoh7mOUVo2nTWVriCcUrPC5HEBwrySPfMjPIVAtRcN2TcSm0RjF-kfPCSn-ESF6LBEjcHag2wivxm6ItYrIqCn_0pNe2oKiL9LzmX94NpJXj2WVMcPuVo_Cx-Ty_vy0qDERhFY-iRXspK9-FOP5UHAQxefSOjDkpNv_ESbOZPonhs6ZIaqJ_xZ_vHnUMvsDoBPl6fhrXW6LruLVdEya_Xya3AvBMFtnjoOAcMKTArEW1ph5LPqM5xraLNahYp9dBDtC0eFcB68QLA0Uy3gNTzGrsz49NOHr0nF9eRSA0wx75Nc_k5kydasrggmm_JecRiLEzp12X79Dcjk7cV-r-814hbX_4aFGcG5zL2X-ShgzQ08ckg5lAwmnrbIJ4eWnKa2odF7VLEgFVAKnnBY4KFchoToygMNVhcoO-FJ9MYuV89EMr390ZX1HBpYJpxb2abu8wb6EGyQafRaNQZgeWK2-oh8W9a0tr5hpUoRVwMBti78OjFURrkULveiERxI4dLvRxBuxBbyAMnenQMqVpwO46v3ItRRbK3uMjXuXNkOsbvhj4y8C0gDMBpzhzjbFFppO61Txv6g4Yu2-YFwWjTyVwY46TTZcf0m_q2Kn1sdyO1DsUURx2OVb_lE44aHNRJ-3Dt4HH70KZhG7PGl-wPcvDRzPUci3hpUg2GN3jhkfOpERt_WkfgQgbedQFp0SfNynuT4EknzS685Lllu2v0AD_avq50XEciYY8_bNVePlT6NM_Bet83nOEcEzrb8-jvJQSdFRnmQia_szqb8FZibX-z0gyIuPis4gX3tFj8atT53fVFKAHaVGivbvEwpT-mQKxrl5F8l5RzWjkp1ScnMQG4I5AoM]
Index: []

* Mengembalikan  Dataset ke Bentuk Semula

In [15]:
# Mendeklarasikan Kunci Kembali
fernet = Fernet(key)
 
# Membuka Dataset yang sudah di enkripsi
with open('Status Nutrition Dataset Encripsi.csv', 'rb') as enc_file:
    encrypted = enc_file.read()
 
# Melakukan Dekripsi Dataset
decrypted = fernet.decrypt(encrypted)
 
# melakukan dekirpsi dataset
with open('Dataset Status Gizi Dekripsi.csv', 'wb') as dec_file:
    dec_file.write(decrypted)

In [17]:
dekripsi_dataset = pd.read_csv('Dataset Status Gizi Dekripsi.csv')
dekripsi_dataset

,Name,Gender,age(mounth),TB(cm),WB(cm),CongenitalDisease,allergy,Status
0,Maria Anders,1,27,40,8,0,0,good
1,Ana Trujillo,0,20,40,7,0,0,good
2,Antonio Moreno,1,20,37,9,0,0,good
3,Thomas Hardy,0,23,32,7,0,0,good
4,Christina Berglund,1,20,41,9,0,0,good
...,...,...,...,...,...,...,...,...
177,Pirkko Koskitalo,0,21,30,9,0,0,not enough
178,Paula Parente,1,25,40,7,0,0,good
179,Karl Jablonski,0,19,45,7,0,0,good
180,Matti Karttunen,1,27,41,8,0,0,not enough
181,Zbyszek,0,19,42,9,0,0,good